
<div class="banner" style="background-image: url(<%= asset_path 'background-example.jpeg' %>)">
</div>
<section class="container-fluid stats-banner">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <ul class="stats-bar">
          <li><a href="#"><span class="text-muted">Purrs</span><span><%= @user.purrs.count %></span></a>
          <li><a href="#"><span class="text-muted">Following</span><span><%= @user.following.count %></span></span></a>
          <li><a href="#"><span class="text-muted">Followers</span><span><%= @user.followers.count %></span></a>
          <li><a href="#"><span class="text-muted">Likes</span><span>1,234</span></a>
        </ul>
      </div>
      <div class="col-3 d-flex flex-column justify-content-center">
        <%= render 'shared/profile_follow_button' %>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid main">
  <div class="container">
    <div class="row">
      <section class="col-3">
        <div class="row">
          <div class="col-10">
            <%= user_avatar @user, class: "profile-img" %>
            <div>
              <h5 class="profile-title"><%= @user.name %></h5>
              <small class="text-muted"><%= "@#{@user.username}" %></small>
              <p><i class="fas fa-calendar-alt"></i> Joined <%= @user.created_at.strftime("%B %Y") %>
            </div>
          </div>
        </div>
      </section>
      <section class="col-6 purr-container">
        <%= render 'shared/purrs.html.erb' %>
      </section>
      <section class="col-3">
        <div class="who-to-follow container">
          <h5>Who to Follow</h5>
          <div class="follow-profile">
            <div class="row">
              <div class="col-3">
                <%= user_avatar @user, class: "follow-profile-img" %>
              </div>
              <div class="col-9">
                <p class="follow-profile-title">
                  <a href="#">
                    <strong><%= @user.name %></strong>
                    <small class="text-muted">
                      <%= "@#{@user.username}" %>
                    </small>
                  </a>
                </p>
                <%= render 'shared/small_follow_button.html.erb' %>
              </div>
            </div>
          </div>
          <div class="follow-profile">
            <div class="row">
              <div class="col-3"><%= user_avatar @user, class: "follow-profile-img" %></div>
              <div class="col-9">
                <p class="follow-profile-title">
                  <a href="#">
                    <strong><%= @user.name %></strong>
                    <small class="text-muted">
                      <%= "@#{@user.username}" %>
                    </small>
                  </a>
                </p>
                <%= render 'shared/small_follow_button.html.erb' %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>