<section class="container-fluid main">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <img class="card-img-top" src="<%= asset_path 'background-example.jpeg' %>">
          <div class="card-body home-profile container">
            <div class="home-profile-main">
              <div class="row">
                <div class="col-4">
                <%= link_to(user_avatar(current_user, class: "home-profile-img"), user_url(current_user)) %>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center">
                  <p class="home-profile-title">
                    <a href="#">
                      <strong><%= current_user.name %></strong>
                      <small class="text-muted">
                        <%= "@#{current_user.username}" %>
                      </small>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="home-profile-stats">
              <ul class="home-stats d-flex justify-content-between">
                <li><span class="text-muted">Purrs</span><span class="stat-count"><%= @user.purrs.count %></span>
                <li><span class="text-muted">Followers</span><span class="stat-count"><%= @user.followers.count %></span>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="col-6 purr-container">
        <%= render 'shared/purrs.html.erb' %>
      </section>
      <div class="col-3">
        <div class="who-to-follow container">
          <h5>Who to Follow</h5>
          <div class="follow-profile">
            <div class="row">
              <div class="col-3">
                <%= user_avatar @user, class: "follow-profile-img" %>
              </div>
              <div class="col-9">
                <p class="follow-profile-title">
                  <a href="#">
                    <strong><%= @user.name %></strong>
                    <small class="text-muted">
                      <%= "@#{@user.username}" %>
                    </small>
                  </a>
                </p>
                <%= render 'shared/small_follow_button.html.erb' %>
              </div>
            </div>
          </div>
          <div class="follow-profile">
            <div class="row">
              <div class="col-3"><%= user_avatar @user, class: "follow-profile-img" %></div>
              <div class="col-9">
                <p class="follow-profile-title">
                  <a href="#">
                    <strong><%= @user.name %></strong>
                    <small class="text-muted">
                      <%= "@#{@user.username}" %>
                    </small>
                  </a>
                </p>
                <%= render 'shared/small_follow_button.html.erb' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>