<section class="container-fluid main">
  <div class="container no-padding-x-sm">
    <div class="row">
      <div class="d-none d-md-block col-md-4 col-lg-3">
        <div class="home-card">
          <img class="card-img-top" src="<%= asset_path 'background-example.jpeg' %>">
          <div class="card-body home-profile container">
            <div class="home-profile-main">
              <div class="row">
                <div class="col-4">
                <%= link_to(user_avatar(current_user, class: "home-profile-img"), user_url(current_user)) %>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center">
                  <p class="home-profile-title">
                    <a href='<%= user_url(current_user) %>'>
                      <strong><%= current_user.name %></strong>
                      <small class="text-muted">
                        <%= "@#{current_user.username}" %>
                      </small>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="home-profile-stats">
              <ul class="home-stats d-flex justify-content-between">
                <li><span class="text-muted">Purrs</span><span class="stat-count"><%= @user.purrs.count %></span>
                <li><span class="text-muted">Followers</span><span class="stat-count"><%= @user.followers.count %></span>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block d-lg-none mt-3">
          <%= render 'shared/who_to_follow.html.erb' %>
        </div>
      </div>
      <section class="col-12 col-md-8 col-lg-6">
        <%= render 'shared/home_content.html.erb' %>
      </section>
      <div class="d-none d-lg-block col-3">
        <%= render 'shared/who_to_follow.html.erb' %>
      </div>
    </div>
  </div>
</section>