<section class="container-fluid main">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="home-card">
          <img class="card-img-top" src="<%= asset_path 'background-example.jpeg' %>">
          <div class="card-body home-profile container">
            <div class="home-profile-main">
              <div class="row">
                <div class="col-4">
                <%= link_to(user_avatar(current_user, class: "home-profile-img"), user_url(current_user)) %>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center">
                  <p class="home-profile-title">
                    <a href="#">
                      <strong><%= current_user.name %></strong>
                      <small class="text-muted">
                        <%= "@#{current_user.username}" %>
                      </small>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="home-profile-stats">
              <ul class="home-stats d-flex justify-content-between">
                <li><span class="text-muted">Purrs</span><span class="stat-count"><%= @user.purrs.count %></span>
                <li><span class="text-muted">Followers</span><span class="stat-count"><%= @user.followers.count %></span>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="col-6 purr-container">
        <div class="post-form">
          <%= form_for @new_purr do |f| %>
            <div class="form-content">
              <%= link_to(user_avatar(current_user), user_url(current_user)) %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.text_field :content, autofocus: true, autocomplete: "content", class: "form-control",
                                placeholder: "What's Cattening?", required: "" %>
            </div>
            <%= f.submit "Purr", class: "form-group btn btn-primary d-block ml-auto my-1" %>
          <% end %>
        </div>
        <%= render 'shared/purrs.html.erb' %>
      </section>
      <div class="col-3">
        <%= render 'shared/who_to_follow.html.erb' %>
      </div>
    </div>
  </div>
</section>